/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 100px;
}

div{
  display: flex;
}

div, #player1Cards{
  border-width: 1px;
  border-color: red;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
