<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wayne's World App</title>
</head>
<body>
    <h1>WAYNE'S WORLD, PARTY TIME, EXCELLENT, DOweewoweewowhooo</h1>
    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">Submit</button>
      </form>
    <h2> Quotes </h2>

      <ul class="quotes">
        <% for(var i = 0; i < quotes.length; i++) {%>
          <li class="quote">
            <span><%= quotes[i].name %></span>:
            <span><%= quotes[i].quote %></span>
          </li>
        <% } %>
      </ul>

      <div>
        <h2>Garth and Wayne</h2>
        <p>
          Replace first quote with a quote by Garth and Wayne
        </p>
        <button id="update-button">Replace quote</button>
      </div>
    <script src="/main.js"></script>    
</body>

</html>